



body{
    background: #000000;
    text-align: center;
    padding: 50px;
    color: red;
    box-sizing: border-box;
}

a{
    color: red;
}

ul{
    text-align: left;
}

#principal{
    display: flex;
}

.cont2{
    padding: 0px 30px;
}

#cualidades{
    padding: 10px 70px;
}

#miInfancia p{
    padding: 10px 80px;
}

#estudios{
    padding: 10px 70px;
}